
<h1>Login</h1>
{% if error %}

{{ error }}
<br/>
<br/>

{% endif %}



<form method="POST" action="{% url 'accounts:login' %}">
    {% csrf_token %}

    {% if request.GET.next %}
    <input type="hidden" name='next' value={{ request.GET.next }}/>
    {% endif %}
    username:
    <br/>
    <input type="text" name="username"/>
    <br/>
    password:
    <br/>
    <input type="password" name="password"/>
    <br/>
    <br/>
    <br/>
    <input type="submit" value="login"/>





</form>